[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesCTDesign"]
	path = BayesCTDesign
	url = https://github.com/begglest/bayesctdesign
